* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .form-heading {
    font-family: 'Anonymous Pro', monospace;
    font-size: 50px;
    font-weight: 100;
    color: #494970;
    letter-spacing: 0.3rem;
    margin-bottom: 5px;
    transition: all 0.3s;
  }
  p{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form-input {
    width: 40rem;
    height: 3rem;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #c6b2b2;
    border: 0.1rem solid #5b5b47;
    font-size: 1rem;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0.1rem;
    outline: none;
  }
  
  .contact-form-input:focus {
    color: #dac4c4;
    border: 0.1rem solid #615826;
  }
  
  .contact-form-input::placeholder {
    color: #282323;
  }
  
  .contact-form-textarea {
    height: 10rem;
    resize: none;
  }
  
  .form-submit-btn {
    width: 10%;
    height: 30%;
    background-color: #c1c494;
    border: none;
    font-size: 20px;
    color: #100c0c;
    cursor: pointer;
  }